#nprogress .bar {
  height: 6px;
}

#container {
  padding: 40px;
  background-color: grey;
  color: white;
}
#nprogress .bar {
  background: purple;
}

#nprogress .spinner-icon {
  border-top-color: blue;
  border-left-color: blue;
}
